
* {
    font-family: 'cafe24';
    color :#000;
}
/* 이미지 위의 글자에 그림자 넣어 가독성높힘 */
.font-shadow {
    font-family: 'gmark';
    text-shadow:1px 1px 1px #ffffff,1px -1px 1px #ffffff,-1px 1px 1px #ffffff,-1px -1px 1px #ffffff;
    color :#000;
}
/* pc에서 이미지크기 제한 */
.pc-img {
    max-height: 700px;
}


.fixed-item{
    background-color: orange;
    max-width: 60px;
    max-height: 60px;
    min-width : 40px;
    min-height : 40px;
}

.act-logo{
    width: 90%;
    height: 90%;
}